body{
    overflow: hidden;
}
.escenario {
    position: relative;
    width:100vw; /* Ajusta según el tamaño de tu escenario */
    height: 100vh; /* Ajusta según el tamaño de tu escenario */
    background-image: url(../storage/img/fondo.png);
    background-size: cover;
  }
  
  .mensaje {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: white;
  }
  
.nube {
    position: absolute;
    right: 0;
    /* Empieza fuera del escenario */
    /* Ajusta según el tamaño de tu nube */
    background-image: url(../storage/img/cloud.png);
    animation: transition 5s linear forwards;
    z-index: 100;

  }
  @keyframes transition{
    0%{
        transform: translateX(-200PX);
        
    }
    100%{
        transform: translateX(-650px);
    }
  }
 
  .sol {
    position: absolute;
  }
  
  .lluvia {
    position: absolute;
    left: 50%;
    top: 30%;
    animation: transitionLlu 5s linear forwards;
    animation-delay: 5s;
    opacity: 0;
  }
  .lluvia img{
    width: 300px;
    height: 300px;
  }

 @keyframes transitionLlu{
    0%{
        transform: translateX(-200PX);
        
    }
    100%{
        transform: translateX(-200px);
        opacity: 1;
    }
  }
  
  .flor {
    /* Estilos de la flor */
  }
  
  .casa {
    /* Estilos de la casa */
  }
  
  .arbol {
    /* Estilos del árbol */
  }
  
 