body{
  margin: 0;
  padding: 0;
  box-sizing: 0;
    overflow: hidden;
}
#fondo1{
  position: absolute;
  width: 1280px;
  height: 720px;
  z-index: 1;
}
.escenario {
    position: relative;
    margin: 0 auto;
    width: 1280px; 
    height: 720px; 
  }
.mensaje {
  position: absolute;
  top: 85%;
  left: 45%;
  transform: translate(-50%, -50%);
  font-size: 54px;
  color: black;
  z-index: 5;
  opacity: 0;
  animation: mensaje 2s linear forwards;
  animation-delay: 8s;
  }
@keyframes mensaje {
  100%{
    opacity: 1;
  }
  
}
.nube{
    position: absolute;
    top: 20%;
    right: 0;
    animation: transition 5s linear forwards;
    z-index: 3;

  }
.nube img{
  width: 180px;
}
@keyframes transition{
  0%{
        transform: translateX(-200PX);
        
    }
  100%{
        transform: translateX(-650px);
    }
  }
 
.sol {
  position: absolute;
  z-index: 2;
  right: 25px;
}
.sol img{
  width: 200px;

}
  
.lluvia {
    position: absolute;
    left: 52%;
    top: 29%;
    animation: transitionLlu 5s linear forwards;
    animation-delay: 5s;
    opacity: 0;
  z-index: 2;
}
  .lluvia img{
    width: 160px;
    height: 420px;
  }

@keyframes transitionLlu{
    0%{
        transform: translateX(-200PX);
        
    }
    100%{
        transform: translateX(-200px);
        opacity: 1;
    }
}

.flor {
    position: absolute;
    right: 50%;
    top: 65%;
  z-index: 2;
  opacity: 0;
  animation: flor 5s linear forwards;
  animation-delay: 5s;
}
.flor img{
    width: 150px;
}
@keyframes flor {
  100%{
    opacity: 1;
  }
}
  
.casa {
  right: 0;
  top: 0px;
  z-index: 2;
  position: absolute;
}
.casa img{
  width: 800px;
  height: 980px;

}
  
.arbol{
  top: 90px;
  left: 0;
  z-index: 2;
  position: absolute;
}

.arbol img{
  width: 410px;
  height: 560px;
}
